@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	color: var(--foreground);

	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;

	--background: #282c34;
	--code-background: #32363e;
	--foreground: #ffffff;

	--color-0 : #1e2127;
	--color-1 : #e06c75;
	--color-2 : #98c379;
	--color-3 : #d19a66;
	--color-4 : #61afef;
	--color-5 : #c678dd;
	--color-6 : #56b6c2;
	--color-7 : #abb2bf;
	--color-8 : #5c6370;
	--color-9 : #e06c75;
	--color-10: #98c379;
	--color-11: #d19a66;
	--color-12: #61afef;
	--color-13: #c678dd;
	--color-14: #56b6c2;
	--color-15: #ffffff;
}

html {
	background-color: var(--background);
	font-family: "Rubik", sans-serif;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	line-height: 1.5;
	font-size: 1.05em;
}

body, html {
	width: 100%;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	display: block;
	margin : 0 auto;
	padding: 0 0.25cm;
	max-width: 30cm;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: .5rem;
}

code {
	font-family: "Source Code Pro", monospace, sans-serif;
	border-radius: 5px;

	background-color: var(--code-background) !important;
	color: var(--color-7);
}

.keyword	{ color: var(--color-13); }
.ident		{ color: var(--color-11); }
.type		{ color: var(--color-12); }
.variants	{ color: var(--color-14); }
.parameters	{ color: var(--color-15); }
.intensify	{ color: var(--color-15); }
